In [60]:

import pandas as pd
import os
import requests
from splinter import Browser
from bs4 import BeautifulSoup
from selenium import webdriver
import time

# Collect the latest News Title and Paragraph Text

In [61]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [62]:
# URL of page to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [63]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [64]:
#  getting latest news title and paragraph from nasa news url
news_title = soup.find("div",class_="content_title").text
print(f"News Title: {news_title}")
news_p = soup.find("div", class_="article_teaser_body").text
print(f"News Paragraph: {news_p}")

News Title: NASA's Mars 2020 Heads Into the Test Chamber
News Paragraph: In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.

# # JPL Mars Space Images - Featured Image

In [86]:
space_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(space_image_url)

In [87]:
#  Use splinter to navigate the site and find the image url for the current Featured Mars Image
full_image = browser.find_by_id("full_image")

In [88]:
#pause 2 seconds to let it load
time.sleep(1)

In [89]:
space_image_html = browser.html
soup = BeautifulSoup(space_image_html,"html.parser")

In [90]:
image = soup.find('img', class_ = 'thumb')['src']
featured_image_url = "https://www.jpl.nasa.gov" + image
print(f"Space Image URL : {featured_image_url}")

Space Image URL : https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23539-640x350.jpg

# Mars Weather

In [81]:
# scrape the latest Mars weather tweet
mars_weather_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather_url)

In [82]:
# Create BeautifulSoup object; parse with 'html.parser'
weather_html = browser.html
soup = BeautifulSoup(weather_html, 'html.parser')

In [84]:
#  Save the tweet text for the weather report as a variable called
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(f"Mars Weather Tweet : {mars_weather}")

Mars Weather Tweet : InSight sol 338 (2019-11-08) low -102.5ºC (-152.5ºF) high -24.0ºC (-11.1ºF)
winds from the SSE at 5.3 m/s (11.9 mph) gusting to 19.6 m/s (43.9 mph)
pressure at 6.90 hPapic.twitter.com/VxWNunPM5q

# ## Mars Facts

In [108]:
mars_fact_url = "https://space-facts.com/mars/"
# browser.visit(mars_fact_url)

In [109]:

mars_table = pd.read_html(mars_fact_url)
print(mars_data)

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers,   Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:    -153 to 20 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [110]:
df = mars_table[0]
df.columns = ['facts', 'values']
df.head(15)

                  facts                         values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [111]:
mars_facts = df.to_html(index = False)
print(mars_facts)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>facts</th>
      <th>values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [107]:
#  saving the html file as table.hyml
df.to_html('table.html')

# Mars Hemispheres